/* 
colors; #fab005 #fab0058e,
grays:
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* 
  letter-spacing: 1px; */
}

/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #fab005;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fab005;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  position: relative;
}
.hidden {
  display: none;
}
.white {
  color: #dddddd !important;
}
.yellow {
  color: #fab005 !important;
}
.blood {
  color: #880808;
}
/* REUSABLE STYLES */
.heading-primary {
  font-size: 7rem;
}
.heading-secondary {
  font-size: 3.6rem;
  color: #fff;
}
.heading-tertiary {
  font-size: 2.4rem;
  color: #fab005;
}
.margin-top--s {
  margin-top: 1.4rem;
}
.margin-top--m {
  margin-top: 3rem;
}
.margin-top--l {
  margin-top: 4.6rem;
}
.margin-top--xxl {
  margin-top: 12rem;
}
.margin-bot--s {
  margin-bottom: 1.4rem;
}
.margin-bot--m {
  margin-bottom: 3rem;
}
.margin-bot--l {
  margin-bottom: 4.6rem;
}
/* POPUP SECTION */
.popup-section {
  position: fixed;
  height: 100vh;
  background-color: #e4a40e;
  width: 0; /* Start with width as 0 */
  right: 0; /* Start with it off-screen */
  z-index: 99999;
  transition: all 0.6s ease-in-out, right 0.6s ease-in-out; /* Smooth transitions for width and right position */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.popup-section.active {
  width: 30rem; /* Width when active */
  right: 0; /* Bring it into view */
}
.popup-icon {
  display: none;
  position: absolute;
  top: 11px;
  right: 15px;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
}
.popup-heading {
  display: none;
  margin-top: 6rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.popup-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 0.9rem;
}
.popup-item {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  font-size: 2.4rem;
  position: relative; /* Needed for pseudo-element positioning */
}

.popup-item::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  bottom: -0.2rem; /* Adjust as needed */
  left: 0;
  width: 0%;
  height: 0.2rem; /* Thickness of the underline */
  background-color: #000;
  transition: width 0.3s ease-out; /* Smooth transition for width change */
}

.popup-item:hover::before {
  width: 100%; /* Expand the underline on hover */
}
.creator-info {
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: 4rem;
}
/*  */

/* Navigation */
.navigation {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.993);
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo-div {
  padding: 0.5rem;
  cursor: pointer;
}

.logo {
  height: 7.5rem;
  width: 7.5rem;
  border: 3px solid #000;
  transition: all 0.6s;
  border: 1px solid #fff;
}

.logo:hover {
  /* background-color: antiquewhite; */
  background-color: #fab005;
}

.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.menu-link {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fab005;
  transition: all 0.4s;
}

.menu-link:hover::after {
  width: 100%;
}

.menu-button {
  margin-right: -3rem;
  display: none;
  border: none;
  color: #fff;
  background: #000;
  transition: all 0.4s;
  cursor: pointer;
}
.menu-icon {
  height: 4rem;
  width: 4rem;
  font-weight: 500;
}
.menu-button:hover {
  scale: 1.1;
}

.become-member-btn {
  border: 2px solid #dddddd;
  background: black;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  transition: all 0.4s;
  cursor: pointer;
}
.become-member-btn:hover {
  background-color: #fab005;
  border: 2px solid #dddddd;
  color: #000;
}
/* hero section */
.hero-section {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/heroSectionBackground.jpg") no-repeat center center;
  background-size: cover; /* Or use 'cover' if you prefer */
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding-bottom: 10rem;
}
.hero-text {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.learn-more-btn {
  text-decoration: none;
  border: 2px solid #fab005;
  background-color: transparent;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 500;
}
.learn-more-btn:hover {
  background-color: #fab005;
  border: 2px solid #000;
  color: #000;
}
/* ABOUT US SECTION */
.about-us-section {
  padding: 2rem;
  padding-left: 25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  background-color: #000;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.about-us-div {
}
.about-us-text {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.about-us-video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-video video {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #dddddd;
}
.read-more-btn {
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 600;
}
.read-more-btn:hover {
  background-color: #fab005;
  color: #000;
}
/* DIVIDER SECTTION */
.divider-section {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.divider-text {
  color: #fab005;
  font-size: 3.6rem;
}
/* TRAINERS SECTION */
/* General styling for the trainers section */
/* General styling for the trainers section */
.trainers-section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.77)
    ),
    url(/img/gym-img3.jpg);
  background-position: center;

  background-color: #f4f4f4;
  text-align: center;
  background-color: #000;
}

/* Styling the section title */
.section-title {
  color: #dddddd;
  margin-bottom: 2rem;
  margin-bottom: 2.5rem;
}

/* Container for the trainers to be flex items */
.trainers-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap; /* Ensures that items wrap to the next line if there's not enough space */
}

/* Styling each individual trainer card */
.trainer {
  border: 1px solid #424040;
  background-color: #dddddd00;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 33rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}

.trainer:hover {
  transform: translateY(-10px);
}

/* Styling the trainer image */
.trainer-img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border: 1px solid #424040;
  margin-bottom: -0.8rem;
}

/* Container for the trainer's details */
.trainer-about {
  background-color: #000;
  padding: 1rem;
}

.trainer-name {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}

.trainer-text {
  font-size: 1.9rem;
  color: #cacaca;
  margin-bottom: 1rem;
}

/* Styling the 'See more' button */
.see-more-btn {
  border: 0.5px solid #dddddd;
  background-color: transparent;

  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.4s;
}

.see-more-btn:hover {
  background-color: #fab005;
  color: #000;
  font-weight: 600;
}

/* GALLERY SECTION */
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 5rem;
  width: 5rem;
  color: #000;
  background-color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  transform: translateY(-50%);
  transition: all 0.4s;
}
.slider-wrapper .slide-button:hover {
  background-color: #444;
}
.slider-wrapper .slide-button#prev-slide {
  display: none;
  left: -20px;
}
.slider-wrapper .slide-button#next-slide {
  right: -20px;
}
.gallery-section {
  padding-top: 10rem;
  padding-bottom: 15rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.slider-wrapper .image-list {
  display: grid;
  gap: 1.8rem;
  margin-bottom: 3rem;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 32rem;
  height: 40rem;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #fab005;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar:active .scrollbar-thumb {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/*  */
.service-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  padding-left: 20rem;
  padding-right: 20rem;
}

.service-div {
  width: 98%;
  height: 50rem;
  border: 1px solid #dddddd;
  position: relative; /* Ensure the parent is relatively positioned */
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.service-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s;
}

.absolute-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  bottom: 0;
  left: 0; /* Adjust as needed */
  width: 100%; /* Ensures full width */
  height: 15%;
  background-color: #00000056;
  color: white;
  text-align: center;
  line-height: 5rem; /* Center text vertically */
}
.service-img:hover {
  scale: 1.1;
}
.last-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #fff;
}
.last-section {
  width: 100%;
  padding-bottom: 10rem;
}
.divider {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fab005;
  font-size: 3.6rem;
}

.training-schedule {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.77)
    ),
    url(/img/gym-img3.jpg);
  height: 100rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
}
.schedule-table {
  width: 40%;
  font-size: 1.3rem;
  margin-left: 5rem;
  border-collapse: collapse;
  margin-bottom: 2rem;
  color: #fff;
}

th {
  font-size: 2rem;
}
td {
  font-size: 1.5rem;
}
.schedule-table th,
.schedule-table td {
  height: 6rem;
  padding: 0.5rem;
  text-align: center;
  border: 2px solid #dddddd;
  /* white-space: nowrap;  */
}

.schedule-table td {
  width: 15%; /* Adjust the width as needed */
}
.table-div {
  padding-right: 5rem;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}
.info-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}
.map {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  padding: 4rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.icon {
  color: white;
  height: 2.4rem;
  width: 2.4rem;
}
.find-us-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.find-us-text {
  color: #fff;
  font-size: 1.8rem;
}
.social {
  display: flex;
  align-items: center;

  gap: 1rem;
}
.map {
  /* grid-row: 1; */
}
.buttons-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.join-div {
  display: flex;
  gap: 2rem;
}
/* styles for mobiile and tablets */
