body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.player-div {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.player-div.active {
  border: 3px solid #fff; /* Border style for the active player */
}

.player-div.active::before {
  content: "Your Turn";
  position: absolute;
  top: -25px; /* Adjust as needed to position above the player div */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/* winner */
.player-div.winner {
  border: 3px solid gold; /* Gold border for the winner */
}

.player-div.winner::before {
  content: "Winner!";
  position: absolute;
  top: -25px; /* Adjust as needed to position above the player div */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; /* Dark background for better contrast */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: gold; /* Gold text color */
  border: 3px solid gold; /* Gold border for the winner */
}

.score {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-areas:
    "header header header"
    "player-1 quizz player-2"
    "start-reset start-reset start-reset"
    "rules rules rules";
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 2rem;
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  grid-area: header;
  text-align: center;
  padding: 1rem;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.turn,
.correct {
  font-size: 1.5rem;
  color: #f0f0f0;
}

.correct {
  color: #00e676;
}
.wrong {
  color: #c20000;
}

.difficulty {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  color: #f0f0f0;
}

.easy {
  background-color: #0f9956;
}

.medium {
  background-color: #f59f00;
}

.hard {
  background-color: #c92a2a;
}

.player-div {
  padding: 1rem;
  background-color: #292929;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.player-1 {
  grid-area: player-1;
}

.player-2 {
  grid-area: player-2;
}

.score {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #f0f0f0;
}

.quizz-div {
  grid-area: quizz;
  padding: 2rem;
  background-color: #292929;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f0f0f0;
}

.options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.option {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: #f0f0f0;
}

.option--false {
  background-color: #c92a2a;
  transition: all 0.3s;
}

.option--false:hover {
  background-color: #7e1b1b;
}

.option--true {
  background-color: #2196f3;
  transition: all 0.3s;
}

.option--true:hover {
  background-color: #196db3;
}

.feedback {
  margin-top: 1rem;
}

.start-reset-div {
  grid-area: start-reset;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.start-btn,
.reset-btn,
.next-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #0f9956;
  color: #f0f0f0;
}

.start-btn:hover,
.reset-btn:hover {
  background-color: #00b248;
}

.rules-div {
  grid-area: rules;
  padding: 1rem;
  background-color: #292929;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h3 {
  margin-top: 0;
}
